/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    background-image: url(ally-griffin-3hsrEvJi_gw-unsplash.jpg);
    background-size: 100%;
}

.nav {
    box-shadow:1px 0px 5px rgb(0, 0, 0, 0.4);
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.col {
    background-color: white;
    box-shadow:1px 0px 5px rgb(0, 0, 0, 0.4);
}

.second {
    width: 418px;
    height: 654px;
    background-color: white;
    box-shadow:1px 0px 5px rgb(0, 0, 0, 0.4);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
    margin-left: 30px;
}

.first {
    width: 920px;
    height: 652px;
    background-color: white;
    box-shadow:1px 0px 5px rgb(0, 0, 0, 0.4);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.profile {
    width: 248px;
    height: 248px;
    margin-bottom: 30px;
}

.posts {
    width: 859px;
    margin-bottom: 20px;
}

ol {

    text-align: left;
    margin-top: 60px;
}

li {
    list-style:url(star.svg)
}